{% extends 'base.html.twig' %}

{% block title %}
    Gérer les utilisateurs
{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>
    <a href="{{ path('admin_creer_utilisateur') }}" class="btn-create"> Ajouter un utilisateur manuellement </a>
    <a class="btn-create" onclick="fromCSV()" > Ajouter une liste d'utilisateur via fichier CSV</a>
    <div id="formCSV"></div>
    <h3> Liste des utilisateurs </h3>

<table>
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>mot de passe</th>
            <th>téléphone</th>
            <th>campus</th>
            <th>url photo</th>
            <th>profil actif</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
    {% for user in utilisateurs %}

        <tr>
            <td>{{ user.pseudo }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles|join(', ')}}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.getCampus().getNomCampus() }}</td>
            <td>{{ user.getUrlPhoto }}</td>
            <td>
                {% if  user.actif  == 1  %}
                 oui
                {% else %}
                    non
                {% endif %}

            </td>
            <td>

                <form method="post"
                      action="{{ path('admin_gestion-utilisateur-supprimer', {'id': user.id}) }}"
                      style="display:inline;"
                      onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
                    <button type="submit" class="btn-create tableaubtn">
                        Supprimer
                    </button>
                </form>
                <a href="{{ path('admin_gestion-utilisateur-modifier', {'id': user.id}) }}" class="btn-create tableaubtn">modifier</a>
                {% if user.actif === true %}
                    <a href="{{ path('admin_gestion-utilisateur-desactiver', {'id': user.id}) }}" class="btn-create tableaubtn">désactiver</a>
                {% else %}
                    <a href="{{ path('admin_gestion-utilisateur-desactiver', {'id': user.id}) }}" class="btn-create tableaubtn">activer</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <script>
        function fromCSV(){
            document.getElementById('formCSV').innerHTML = "<form methode='post' action='{{ path('admin_creer-utilisateurs-CSV') }}'> <input type='file' id='file' accept='text/csv\'/> <input class='btn-create' type='submit'> ajouter la liste/> </from> ";
        }
    </script>
{% endblock %}
